<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}RedEye Title Generator{% end %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
  </head>
  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          {% for news_type in news_types %}
            {% if news_type == selected_news_type %}
              <li class="active"><a href="/{{ news_type }}">{% raw news_type.capitalize() %}</a></li>
            {% else %}
              <li><a href="/{{ news_type }}">{% raw news_type.capitalize() %}</a></li>
            {% end %}
          {% end %}
        </ul>
        <h3 class="text-muted">
          <a href="/">{{ config.site_title}}</a>
        </h3>
      </div>

      <div class="jumbotron">
        {% block body %}
            WHERE IS YOUR CONTENT?
        {% end %}
      </div>

      {% if config.google_ad_client_id and config.google_ad_client_id %}

        <script type="text/javascript"><!--
          google_ad_client = "ca-pub-8100780350139556";
          /* RedEye Title Generator */
          google_ad_slot = "7492476337";
          google_ad_width = 728;
          google_ad_height = 90;
          //-->
        </script>
        <script type="text/javascript" src="//pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
     {% end %}
    </div>

    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    {% if config.google_analytics_id %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-44320729-1', 'redeyetitlegenerator.com');
        ga('send', 'pageview');
      </script>
    {% end %}
  </body>
</html>
